/* Increase the default font size */
/*html {
  font-size: 13pt;
}*/

/* Image placement and styling*/
img[src*='#left'] { 
    float: left;
    padding-top: 8px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 0px;
}
img[src*='#right'] { 
    float: right;
    padding: 15px;
    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 18px;
    padding-left: 18px;
}
img[src*='#center'] { 
    display: block; 
    margin: auto; 
}